body{
    background-color: rgb(118, 89, 247);
    font: normal 14pt Arial;
    color: rgb(84, 58, 201);
}

h1{
    font-size: 38pt;
    font-family: 'Inlanders', 'Times';
    text-align: center;
    color:white;
}
 
div#orders{
    background-color: white;
    border: none;
    width: 500px;
    margin:auto;
    padding:8px;
}


div#orders select{
    color:rgb(118, 89, 247);
    width: 120px;
    font: normal 8pt Verdana;    
}

@font-face {
    font-family:'Inlanders';
    src: url('Inlanders.otf') format('opentype');
}

div#add input{
    margin-top: 50px;
    height: 50px;
    border-color: rgb(118, 89, 247);
    margin-left: 535px;
    width: 510px;
    background-image: url(enter.png);
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    cursor: pointer;
}

.inname{
    cursor: text;
}
